.body {
    max-width: 0;
}

.left-menu__container {
    display: flex;
    justify-content: left;
    width: 274px;
    position: relative;
    border-right: 1px solid #EDEDF5;
}

.menu__container {
    
}