.body {
    display: grid;
    grid-template-rows: 100vh;
    font-family: SFUI, sans-serif, Arial;
    font-size: 100%;
    overflow: hidden;
    background: #f8f8fb;
}

.header {
    position: relative;
    z-index: 997;
    display: grid;
    grid-template-columns: 1fr max-content;
    background-color: #fff;
    border-bottom: 1px solid #EDEDF5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(237, 237, 245);
    box-sizing: content-box;
    font-family: sans-serif;
}

.header__side {
    display: flex;
    align-items: center;
    width: 100%;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    line-height: 100%;
    color: #202430;
    background: #f8f8fb;
    transition: all .2sease-in-out;
    cursor: pointer;
    border-radius: 4px;
    height: 40px;
    min-height: 40px;
    width: 40px;
    min-width: 40px;
    border-radius: 4px;
    font-size: 16px;
}

.header__workspace {
    position: relative;
    flex: none;
    align-items: center;
    min-width: 220px;
    height: 100%;
    background-color: #fff;
    transition: all .3s ease-in-out;
    border-right: 1px solid #EDEDF5;
}

.header-workspace__wrapper {
    display: flex;
    align-items: center;
    width: 220px;
    height: 100%;
    cursor: pointer;
}


.header-workspace__tooltip {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.header__create-task {
    position: relative;
    margin: 0 auto 0 10px;
}

.header__side-right {
    justify-content: space-between;
    width: auto;
    padding: 0 10px;
    align-items: center;
    display: flex;
    padding-right: 40px;
}

.header__profile {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
}

.header__user {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header__user-avatar {
    display: flex;
}

li {
    all: unset;
}

.texts {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 170px;
}

.texts__name {
    flex: 1 1 auto;
}

.texts__title {
    width: 100%;
    margin-top: 2px;
    overflow: hidden;
    font-weight: 500;
    white-space: nowrap;
    color: #262626;
    cursor: pointer;
    text-decoration: none;
    text-overflow: ellipsis;
    text-align: center;
}

.texts__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .75rem;
}

.change-service {
    position: relative;
    margin: 0 auto 0 10px;
}

.change-service__inner {
    display: flex;
    align-items: center;
}

.text__title-create-task {
    width: 100%;
    margin-top: 2px;
    overflow: hidden;
    font-weight: 550;
    white-space: nowrap;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
}

.change-service__title {
    display: inline-flex;
    align-items: center;
    width: 290px;
    height: 50px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(80, 48, 229, 0.7);
    cursor: pointer;
    border-radius: 20px;
    margin-left: 82px;
    margin-right: 82px;
}

.text__title-user {
    font-size: 16px;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    color: black;
    font-family: sans-serif;
}

.text__title-user-role {
    font-size: 14px;
    color: rgb(120, 116, 134);
    text-align: right;
    font-family: sans-serif;
}

.search_block {
    margin: 0 auto;
}

input.search {
    background-color: rgb(245, 245, 245);
    width: 600px;
    height: 44px;
    font-family: sans-serif;
    background-image: url('/layout/Header/icons/search_icon.svg');
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: 20px 20px;
    padding-left: 40px;
    padding-right: 10px;
}

input::placeholder {
    color: rgb(120, 116, 134)
}

.header__notification {
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    background-image: url('/layout/Header/icons/notification_true_icon.svg');
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    align-items: center;
    display: flex;
    justify-content: flex;
    margin-left: 3px;
    margin-right: 10px;
}

.menu__downarrow {
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    background-image: url('/layout/Header/icons/downarrow_icon.svg');
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-left: 3px;
    margin-right: 3px;
}