.create-task-button__title {
    display: flex;
    width: 30px;
    height: 30px;
    margin-top: center;
    background-color: rgb(103, 76, 202);
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-align: center;
    font-weight: bold;
}

.text__title-create-task {
    width: 110%;
    overflow: hidden;
    font-weight: 52;
    white-space: nowrap;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    text-overflow: ellipsis;
    font-size: 24px;
    font-family: SFUI, sans-serif, Arial;
}