.task-columns {
    display: flex;
   justify-content: space-between;}

.task-column {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 16px;
    height: 100;
    min-height: 100vh;
}

.task-column h3 {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    font-family: "Gill Sans", sans-serif;
    justify-content: center;
    text-align: center;
    font-weight: 600;
}

 .task-column__header {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.task-column__divider {
    height: 3px;
    width: 100%;
}


.todo .task-column__divider {
    background-color: #5030e5b3; 
}

.in-progress .task-column__divider {
    background-color: #5030e5b3; 
}

.review .task-column__divider {
    background-color: #5030e5b3;
}

.done .task-column__divider {
    background-color: #5030e5b3; 
}

.task-container {
    margin-top: 24px;
    min-height: 100px;
    padding: 0 10px;
}

.task-drawer-content {
    width: 600px;
    padding: 0;
    height: 100vh;
    overflow-y: auto;
}