.project-name__title {
    font-family: SFUI, sans-serif, Arial;
    font-weight: bold;
    font-size: 46px;
    color: #2a2a2b;
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 100%;
}

.add-project__icon-container {
    margin-left: 10px;
}

.add-project__icon {
    background-image: url('/pages/Home/icons/pencil_icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background-color: rgb(80, 48, 229, 0.2);
    border: none;
    fill: rgba(80, 48, 229, 0.7019607843);
}

.task-columns {
    display: flex;
   justify-content: space-between;}

.task-column {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 16px;
    height: 75vh;
}

.task-column h3 {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    font-family: SFUI, sans-serif, Arial;
}

.task-column__header {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-column__divider {
    height: 3px;
    width: 100%;
}


.to-do .task-column__divider {
    background-color: #5030e5b3; 
}

.in-progress .task-column__divider {
    background-color: orange; 
}

.review .task-column__divider {
    background-color: green;
}

.done .task-column__divider {
    background-color: gray; 
}