.compact-create-task {
    position: sticky;
    top: 20px; /* Тут надо будет поиграться для правильного расположения под хедером */
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: #ffffff;
    border-bottom: 1px solid #e5e7eb;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.top-line {
    display: flex;
    flex: auto;
}

.compact-create-task input,
.compact-create-task select,
.compact-create-task textarea {
    width: auto;
    padding: 8px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 14px;
    font-family: inherit;
}

.compact-create-task input[type="number"] {
    width: 60px;
    text-align: center;
}

textarea {
    flex: 1 1 100%;
    min-height: 60px;
    resize: vertical; /* Стиль для растяжения поля "Описание" */
}

.estimate-wrapper {
    display: flex;
    font-weight: auto;
    align-items: center;
    gap: 5px;
}

.clock-icon {
    width: 20px;
    height: 20px;
    /* Тут добавить иконку часов для расположения рядом с оценкой */
}

.buttons {
    display: flex;
    gap: 10px;
}

.create-task-button-in-menu {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.cancel-button {
    background: #e5e7eb;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 12px;
    flex-basis: 100%;
}