.body {
    display: grid;
    grid-template-rows: 100vh;
    font-family: SFUI, sans-serif, Arial;
    font-size: 100%;
    overflow: hidden;
    background: #f8f8fb;
}

.header {
    position: relative;
    z-index: 997;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EDEDF5;
    font-family: sans-serif;
}

.header__side-left {
    display: flex;
    align-items: center;
    margin-top: center;
    height: 55px;
}

.header__center {
    display: flex;
    flex: 1;
    align-items: center;
}

.header__side-right {
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 15px;
}

.header__workspace {
    position: relative;
    flex: none;
    align-items: center;
    min-width: 220px;
    height: 100%;
    background-color: #fff;
    transition: all .3s ease-in-out;
    border-right: 1px solid #EDEDF5;
}

.header-workspace__wrapper {
    display: flex;
    align-items: center;
    width: 220px;
    height: 100%;
    cursor: pointer;
}


.header-workspace__tooltip {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.header__user {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    all: unset;
}

.texts {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 170px;
}

.texts__title {
    color: #262626d4;
    cursor: pointer;
    text-decoration: none;
    text-overflow: ellipsis;
    text-align: center;
    font-weight: bold;
    font-family: SFUI, sans-serif, Arial;
}

.create-task_block {
    display: flex;
    margin-left: 40px;
}

.project-name_block {
    display: flex;
    max-width: 100%; 
    margin-right: 15px;
    cursor: default;
}

.info_block {
    display: flex;
    margin-right: 15px;
}

.sprint-info_block{
    display: flex;
    margin-right: 30px;
    margin-left: 30px;
    cursor: default;
}

.right-aligned_block {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.filter_block {
    display: flex;
    margin-right: 10px;
}

.search_block {
    display: flex;
    margin-right: 20px;
    justify-content: flex-end;
}

.text__title-user {
    font-size: 16px;
    color: black;
    font-family: Inter, Arial;
    font-weight: 400;
    margin-right: 6px;
    margin-left: 6px;
}

.header__notification {
    background-image: url('./icons/notification_true_icon.svg');
    width: 25px;
    height: 25px;
    justify-content: flex;
    margin-left: 3px;
    margin-right: 3px;
}

.dropdown-menu {
    position: absolute;
    right: 10px;
    top: 5%;
    background: white;  
    z-index: 1000;
    padding: 5px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    min-width: 130px;
    border: 1px solid #EDEDF5;
}

.dropdown-menu li {
    font-size: 16px;
    width: 100px;
    display: flex;
    padding: 10px 15px;
    color: #787486;
    font-family: SFUI, sans-serif, Arial;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.dropdown-menu li a,
.dropdown-menu li button {
    all: unset;
    font-size: 16px;
    width: 100%;
    color: inherit;
    text-align: left;
    padding: 5px 15px;
}

.dropdown-menu li a:hover,
.dropdown-menu li button:hover {
    color: #1d1c1f
}

.dropdown-menu li:not(:last-child) {
    border-bottom: 1px solid #EDEDF5;
}

.dropdown-menu li a:focus,
.dropdown-menu li button:focus,
.dropdown-menu li a:active,
.dropdown-menu li button:active {
    color: #787486;
    background: none;
    outline: none;
}

.header__profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.button-style {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
}

.button-style:focus,
.button-style:active {
    background: none;
    outline: none;
}